{% extends 'base.html.twig' %}

{% block title %}Réservation de la prestation : {{ad.title}}{% endblock %}

{% block body %}
<div class="container">
    <h1>Réservation de la prestation {{ ad.title }}</h1>

    <p>Vous êtes sur le point de réserver la prestation de {{ad.user.title}} {{ad.user.fullname}}</p>

    {{ form_start(bookingForm)}}
    <p>Quelles sont vos dates ?</p>
        <div class="row">
            <div class="col">{{ form_row(bookingForm.startDate)}}</div>
            <div class="col">{{ form_row(bookingForm.endDate)}}</div>

          
        
        </div>
        <h4 class="mt-3">Une précision à apporter ?</h4>
        {{ form_row(bookingForm.comment) }}
        <h4>Montant total de la prestation : <span id="amount">...</span> €</h4>
        <span id="days">...</span> jour(s) à {{ad.price}}.
        <button type="submit" class="btn btn-primary">Réserver</button>
    {{ form_end(bookingForm)}}

    

</div>
{% endblock %}
