{% extends 'base.html.twig' %}

 {% block title %}Vos messages{% endblock %}

{% block body %}
<div class="container">
<h1>Vos messages</h1>

{% if app.user.messages != null %}


{% for message in messages %}
<div class="card bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><a href="{{ path('user_profile', {'id': message.sender.id}) }}">{{ message.sender.firstname }}</a></div>
  <div class="card-body">
    <h4 class="card-title"><a href="{{ path('ads_show', {'id': message.ad.id}) }}">{{ message.ad.title }}</a></h4>
    <p class="card-text">{{ message.content }}</p>
  </div>
  <span><a href="{{ path('conversation_show', {'id': message.id}) }}">Lire</a></span>
</div>
{% endfor %}

{% else %}


<h6>Vous n'avez pas encore de messages !</h6>

{% endif%}


{% endblock %}
