{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
<h1>Toutes les annonces</h1>

{% for ad in ads %}
<div class="ads-list">
<h4>
<a href="{{ path('ads_show', {'id': ad.id}) }}">{{ ad.title }}</a>
</h4>
<p>{{ ad.description }}</p>
<span>{{ ad.price}} €</span>
<span>{{ ad.city }}</span>
<span>{{ ad.user.firstname }}</span>
<span>{{ ad.user.lastname }}</span>
<img src="{{ ad.user.picture}}" alt="user-image" class="user-picture">
</div>
{% endfor %}

</div>

{% endblock %}
