{% extends 'base.html.twig' %}

 {% block title %}Les annonces{% endblock %}

{% block body %}
<div class="container">
<h1>Toutes les annonces</h1>

{% for ad in pagination.data %}
<div class="ads-list">
<h4>
<a href="{{ path('ads_show', {'id': ad.id}) }}">{{ ad.title }}</a>
</h4>
<p>{{ ad.description }}</p>
<span>{{ ad.price}} €</span>
<span>{{ ad.city }}</span>
<span>
<a href="{{ path('user_profile', {'id': ad.user.id}) }}">{{ ad.user.firstname }}{{ ad.user.lastname }}</a></span>
<img src="{{ ad.user.picture}}" alt="user-image" class="user-picture">
</div>
{% endfor %}

{{ pagination.display() }}

</div>

{% endblock %}
