{% extends 'base.html.twig' %}

 {% block title %}{{ ad.title }}{% endblock %}

{% block body %}

<div class="container">
<div class="ad-container">

    <div class="ad-content">
        <h2>
        {{ ad.title }}
        </h2>
         <p>
        {{ ad.description }}
        </p>
        <span>
        {{ ad.city }}
        </span>
        <span>
        {{ ad.price }} €
        </span>

        <h5>
        Où se déroule la prestation ?
        </h5>
            {% if ad.establishment == 'atHome' %}
            <i class="fas fa-home"></i><p>
                A mon domicile
            </p>

            {% elseif ad.establishment == 'atFriendsPlace' %}
            <i class="fas fa-user-friends"></i>

            {% elseif ad.establishment == 'atLaundryShop' %}
            <i class="fas fa-store-alt"></i>
            {% endif %}

        <h5>Mes équipements</h5>

            {% if ad.washing == 'washer' %}
            <i class="material-icons" style="font-size:56px">local_laundry_service</i>
            {% endif %}

            

            {% if ad.washing == 'handwashing' %}
            <i class="fas fa-home"></i>
            {% endif %}

            

            {% if ad.drying == 'airDrying' %}
            <i class="fas fa-home"></i>
            {% endif %}

            

            {% if ad.drying == 'tumbleDryer' %}
            <i class="fas fa-home"></i>
            {% endif %}

            

            {% if ad.ironing == true %}
            <i class="fas fa-home"></i>
            {% endif %}

            

        <h5>Mon moyen de locomotion</h5>

            {% if ad.transport == 'private' %}
            <i class="fas fa-car"></i>
            

            {% elseif ad.transport == 'public' %}
            <i class="fas fa-bus-alt"></i>
            {% endif %}


            {% if ad.productType or ad.earthProtection or ad.dedicatedSpace is defined %}
            <div class="ad-bonus"><h5>Les +</h5>
            {% if ad.productType == 'gentleHouseholdProduct' %}
            <i class="fas fa-bus-alt"></i>
            {% endif %}
            
            
            {% if ad.productType == 'hospitalProduct' %}
            <i class="fas fa-bus-alt"></i>
            {% endif %}
            
            
            {# {% if ad.earthProtection == true %}
            <i class="fas fa-bus-alt"></i>
            {% endif %} #}
            
            
            {% if ad.dedicatedSpace == true %}
            <i class="fas fa-bus-alt"></i>
            {% endif %}</div>
            {% endif %}


            
    </div> 

    <div class="ad-infos">
        <div class="ad-provider">
            <h5>Votre prestataire</h5>
                <span>
                <a href="{{ path('user_profile', {'id': ad.user.id}) }}">{{ ad.user.firstname }}
                {{ ad.user.lastname }}</a>
                </span>
                
                <p>{{ ad.user.biography }}</p>
                <img src="{{ ad.user.picture }}" alt="user-profile" class="user-picture">
                <span>{{ ad.user.rating }}</span>
                <a href="#" class="btn btn-success">Contacter</a></div>

        <div class="ad-date">
            <h5>Sélectionner vos dates</h5>
                <table class="table table-striped">
                <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Jour</td>
                <td>Jour</td>
                <td>Jour</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Jour</td>
                <td>Jour</td>
                <td>Jour</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Jour</td>
                <td>Jour</td>
                <td>Jour</td>
                </tr>
                </tbody>
                </table>
        <button type="button" class="btn btn-success">Réserver</button>
        </div>

    </div>


    
</div>

</div>
<a href="#"><div><i class="fas fa-flag"></i> Signaler cette annonce</a>
{% endblock %}
