{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}

<div class="container">
    <h1>Bonjour {{user.firstname}}</h1>

    <span>{{ user.ads | length }} annonces postées</span>
    <img src="{{ user.picture}}" alt="" class="user-picture">
    <p>{{ user.biography }}</p>
    <a href="{{ path('user_update')}}"><button class="btn btn-primary">Modifier mes infos</button></a>

</div>


{% endblock %}