{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}

<div class="container">
    <h1>Bonjour {{user.firstname}}</h1>

    <span>{{ user.ads | length }} annonces postées</span>
    <img src="{{ user.picture}}" alt="" class="user-picture">
    <p>{{ user.biography }}</p>
    <a href="{{ path('user_update')}}"><button class="btn btn-primary">Modifier mes infos</button></a>

    <h6>Vos réservations</h6>
    <p>{{ user.bookings |length}}</p>
    {% for booking in user.bookings %}
    <p>Numéro de réservation : {{ booking.id }}</p>
    <p>Annonce : {{ booking.ad.title}}</p>
    <p>Votre prestataire : {{ booking.ad.user.firstname }}</p>
    {% endfor %}
{# 
    <h6>Vos prestations</h6>
    {% for service in user.ads.bookings %}
    <p>{{ service.booker.firstname }}</p>
    {% endfor %} #}

</div>


{% endblock %}